{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}

<main class="main library">

<table class="library-table">
    <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Author</th>
        <th>Book cover</th>
        <th>Go to book</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

{% for book in books%}
    <tr>
        <td>{{ book.getTitle|e }}</td>
        <td>{{ book.getIsbn|e }}</td>
        <td>{{ book.getAuthor|e }}</td>
        <td>{{ book.getImage|e }}</td>
        <td><a href="{{ path('app_book_show_specific', {'isbn': book.getIsbn })}}">Go to book</a></td>
        <td><a href="{{ path('app_book_update', {'isbn': book.getIsbn })}}">Update book</a></td>
        <td><a href="{{ path('app_book_delete', {'isbn': book.getIsbn })}}">Delete book</a></td>

    </tr>

{% endfor %}
</table>

</main>

{% endblock %}
